body {
    margin: 0;
}

#brand-container {
    padding: 10px;
    text-align: center;
}

#brand-container h1 {
    font-size: 3em;
    font-weight: 100;
}

#play-container {
    width: 500px;
    margin: 0 auto;

    text-align: center;
    margin-top: calc(50vmin - 100px);
}

#play-button-container {
    margin-top: 5px;
}

#play-button-container button {
    font-weight: normal;
}

#navbar {
    background-color: #F2F2FF;
    box-shadow: 0 4px 2px -2px gray;
}
#howto {
    width: 500px;
    margin: 0 auto;

    bottom: 0;
}

#howto h3 {
    text-align: center;
}

#load-status {
    display: none;
    margin-bottom: 10px;
}

#game-container {
    margin-top: 25px;
}

#playing-with {
    font-size: 1.7em;
}

#time-container {
    text-align: right;
}

#emojify-container {
    width: 75%;
    margin: 0 auto;
}

.starting-header {
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
}

#emojify-instructions {
    text-align: center;
}

#emoji-container {
    text-align: center;
}

#emoji-input {
    margin: 0 auto;

    font-size: 3.5em;
    padding: 20px;

    border: 1px solid gray;
    border-radius: 5px;
}

#emoji-input[disabled] {
    opacity: 1.0;
}

.emojiPicker {
    margin: 0 auto !important;
    margin-top: 20px !important;
}

#emoji-submit-container {
    text-align: center;
    margin-top: 5px;
}

#wait-container {
    text-align: center;
    margin: 0 auto;
}

#starting-english {
    font-weight: normal !important;
}

#english-input-container {
    text-align: center;
}

#english-submit-container {
    text-align: center;
    margin-top: 10px;
}

#answer-container {
    margin-top: 20px;
    text-align: center;
}

#answer-container h1 span {
    font-weight: normal;
}

#ans-result {
    font-weight: normal;
    font-size: 3em;
}

.phase {
    margin: 0 auto;
    background-color: #eee;
    padding: 10px;
    width: 250px;
    margin-top: 10px;

}
