<div class="ui grid">
    <div class="left floated four wide column" id="playing-with">
        Playing with
        <b id="p2-nick"></b>
    </div>
    <div class="right floated four wide column" style="float: right" id="time-container">
        Yoo
    </div>
</div>
