<div class="ui grid">
    <div class="left floated eight wide column" id="playing-with">
        Playing with
        <b class="p2-nick"></b>
    </div>
    <div class="right floated eight wide column" style="float: right" id="time-container">
    </div>
</div>

<div id="emojify-container" style="display: none">
    <h1 class="starting-header">
        &ldquo;
        <span id="starting-phrase"></span>
        &rdquo;
    </h1>
    <div id="emojify-instructions">
        translate to emoji
        <br>
        <i class="arrow down icon"></i>
        <br>
        <br>
    </div>
    <div id="emoji-container">
        <div class="ui action input">
            <input type="text" id="emoji-input" placeholder="Emoji..." disabled>
            <button id="emoji-input-delete" class="ui red button">⌫</button>
        </div>
    </div>
    <div id="emoji-submit-container">
        <button id="emoji-submit" class="ui green button">  
            Submit
        </button>
    </div>
</div>

<div id="englishify-container" style="display: none">
    <h1 class="starting-header">
        &ldquo;
        <span id="starting-english"></span>
        &rdquo;
    </h1>
    <div id="emojify-instructions">
        translate to English
        <br>
        <i class="arrow down icon"></i>
        <br>
        <br>
    </div>
    <div id="english-input-container">
        <div class="ui huge input">
            <input id="english-input" type="text">
        </div>
    </div>
    <div id="english-submit-container">
        <button id="english-submit" class="ui green button">
            Submit
        </button>
    </div>
</div>

<div id="wait-container" style="display: none">
    <h1>
        Waiting for
        <span class="p2-nick"></span>
    </h1>
</div>
