<div id="game-container" style="display: none">
    {{ template "game" }}
</div>

<div id="play-container">
    <div id="load-status">
        <h2></h2>
    </div>
    <div class="fluid huge ui labeled input">
        <div class="ui label">
            Nickname
        </div>
        <input type="text" id="nick-input">
    </div>
    <div id="play-button-container">
        <button class="fluid massive ui inverted green button" id="play-button">
            Join a Game! 🎯
        </button>
    </div>

    <div id="howto" style="margin-top: 100px;">
        <h3>How to Play?</h3>
    </div>
</div>
