<html>
    <head>
        <title>Lingua Emoji</title>

        <script src="https://code.jquery.com/jquery-2.1.4.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js" defer></script>
        <script src="/assets/script.js" defer></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
        <link rel="stylesheet" href="/assets/style.css">
    </head>

    <body>
        <div id="navbar">
            <div id="brand-container">
                <h1>
                    ❓
                    Lingua Emoji
                    🚀
                </h1>
            </div>
        </div>
        
        <div class="ui container">
            {{ yield }}
        </div>

    </body>
</html>
